:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --logo-additional-color: #000000;
    --background-color: #ffffff;
    --secondary-background-color: #F5F4FA;
    --footer-text-color: rgba (255, 255, 255, 60 %);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.page {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-height 1,7;
}

.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    font-height 1,2;
}

.nav-link {
    color: var(--title-text-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.active {
    color: var(--accent-color);
}

.logo {
    color: var(--accent-color);
    }

.logo.additional {
 color: var(--logo-additional-color);
}

.auth-link {
    color: var(--primary-text-color);
}

.auth-link:hover,
.auth-link:focus {
    color: var(--accent-color);
}


.button {
    color: var(--background-color);
}

.button.color {
    background-color: var(--accent-color);
}

.regular-button {
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
}

.regular-button:hover,
.regular-button:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.benefits {
    background: #2F303A;
}

.solutions {
    color: var(--background-color);
}

.team {
    background-color: #F5F4FA;
}

.footer {
    background-color: #2F303A;
}

address a {
    color: var(--footer-text-color);
}

address a:hover,
address a:focus {
    color: var(--accent-color);
}

.link-map {
    color: var(--background-color);
}
    

